@page "{id:int}"
@model DetailsModel
@{
}


<div class="row ">
    <div class="col-md-6 mx-auto">
        <form  method="post">
            <input asp-for="Employee.Id" type="hidden"/>
            <div class="mb-3">
                <label asp-for="Employee.Name" class="form-label"></label>
                <input asp-for="Employee.Name" class="form-control"/>
            </div>
            <div class="mb-3">
                <label asp-for="Employee.Departmant"  class="form-label"></label>
                <input asp-for="Employee.Departmant" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Employee.Email" class="form-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Employee.Photo" class="form-label"></label>
                <input asp-for="Employee.Photo" class="form-control" />
            </div>
            <div class="d-flex gap-2 justify-content-center">
                <button type="submit" class="btn btn-outline-primary">Update</button>
                <a asp-page="/Employees/index" type="submit" class="btn btn-outline-danger">Cancel</a>
            </div>
        </form>

    </div>

</div>